<div class="chatContainer">
    <h1>Bienvenidos al chat!</h1>
    <div class="chatMessageLogs">
        <pm id="messageLogs">
    </div>
    <div class="chatChatBox">
        <input id="chatBox" placeholder="Escribe algo...">
    </div> 
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js" ></script>
<script src="/js/chats.js"></script>