<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
    <p>¿No estás registrado? <button><a href="/users/register">Regístrate aquí</a></p></button>
    <p>¿Tienes cuenta de Github? <button><a href="/github/login">Haz login por Github</a></p></button>
</div>
<script src="/src/public/js/login.js"></script>

