.realTimeProductsForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
    border: 2px solid black;
    padding: 2%;
}

.realTimeProductsForm div {
    display: flex;
    width: 100%;
}


.realTimeProductsForm div label{
    width: 100%;
    text-align: left;
}

.formButtons{
    display: flex;
    justify-content: center;
}

.formButtons button{
    margin-right: 30px;
    margin-top: 20px;
}

.buttonAddToCart{
    background-color: rgb(70, 72, 216);
    text-align: center;
    width: 100%;
    padding: 5%;
    color: white
}

.buttonAddToCart:active{
    background-color: rgb(169, 205, 84);
}

.pagination{
    color: rgb(190, 60, 60);
    text-decoration: none;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

a:link{
    color: white;
}

a:visited {
    color: rgb(52, 207, 245);
}